.line {
    border: none;
    height: 100px; 
    width: 1px;
    background-color: #401fc6;
    transform: rotate(180deg);
    justify-content: space-around;
    display: flex;
  }

.range-slider {
  background: rgb(49, 49, 195);
  height: 4px;
  border-radius: 2px;
}

